#################################################################################
# 系统参数
#################################################################################
# Python 虚拟环境目录，非必要不改
PYTHON_VENV_DIR = venv

# 访问协议协议，非必要不改
PROTOCOL=http://

# 主机地址，若不希望外来访问则赋值 localhost，否则赋值 0.0.0.0 允许所有 IP访问，非必要不改
HOST=localhost

# 占用端口，非必要不改
PORT=8000

# 白名单IP，逗号分隔
IP_WHITELIST=

# 静态API密钥，用于验证请求来源，若留为空则不开启验证
API_KEY=

# 本地 SQLite 数据库名称，默认 local_data，非必要不赋值
SQLITE_FILE=

# 时区，默认东八区
TIMEZONE=+8
#################################################################################
# 项目参数
#################################################################################
# 日志级别
LOG_LEVEL=DEBUG
# 日志保留天数
LOG_RETENTION=2


# 项目目录
# PROJECT_DIR=CHANGDE
PROJECT_DIR=JYHDXS
# PROJECT_DIR=HACYXS
# 缓存文件名
PROJECT_JSON=dev
# PROJECT_JSON=prod

# 开启 Binlog 监听
TURNON_BINLOG_LISTENER=true
# 开启 Binlog 位置管理器（持久化位置信息）
ENABLE_BINLOG_POSITION=false    

# 开启定时任务
TRUNON_SCHEDULER=false
SCHEDULER_HOUR=*
SCHEDULER_MINUTE=*

# 单次循环从 Redis 读取的消息（聚合后的事件批次）数量上限
# 注意：消息处理是异步并发进行的，不会阻塞等待处理完成
MAX_EVENTS_BATCH_SIZE=1
# 事件处理限流
# 全局 每秒 最大处理事件数，最少为 1
MAX_EVENTS_PER_SECOND=10

# 计划员邮箱，用于发送操作通知
PLANNER_MAILS=2982212683@qq.com
# 运维人员邮箱，用于发送告警通知
ENGINEER_MAILS=2982212683@qq.com


########################################################################
# 服务守护配置
########################################################################
# 服务名称，如无必要保持默认值 MyAPS_API 不建议修改
SERVICE_DAEMON_NAME=MyAPS_API
# 启用邮件通知
SERVICE_DAEMON_EMAIL_ENABLED=true
# 邮件接收地址
SERVICE_DAEMON_EMAIL_TO=2982212683@qq.com
# 邮件发送地址
SERVICE_DAEMON_EMAIL_FROM=2982212683@qq.com
# SMTP服务器
SERVICE_DAEMON_SMTP_SERVER=smtp.qq.com
# SMTP端口
SERVICE_DAEMON_SMTP_PORT=587
# SMTP用户名
SERVICE_DAEMON_SMTP_USER=2982212683@qq.com
# SMTP密码
SERVICE_DAEMON_SMTP_PASSWORD=jyboujldhplddhdf
# 启用系统通知
SERVICE_DAEMON_SYSTEM_NOTIFICATION=true
# 启用自动重启
SERVICE_DAEMON_AUTO_RESTART=true


#################################################################################
# 基础设施配置，由 settings.py 读取加载
# 若 project.json 中配置了相同项，则以 本文件 中的值为准
#################################################################################
# # 服务自有数据库配置<必须使用postgreSQL>
# THIS_DB_HOST=129.211.172.205
# THIS_DB_PORT=5432
# THIS_DB_USER=n8n
# THIS_DB_PASSWORD=123456
# # 数据库名称，不得与 MYAPS_DB_SET 中的数据库名称重复
# THIS_DB_NAME=appsmith

# # MYAPS版本，P / L
# MYAPS_VERSION=P
# # MYAPS地址，没啥用，先保留
# MYAPS_BASE_URL=http://1.13.184.21:8092
# # MYAPS数据库配置<MySQL>
# # 数据库主机地址
# MYAPS_DB_HOST=1.13.184.21
# # 数据库端口号
# MYAPS_DB_PORT=3333
# # 数据库用户名
# MYAPS_DB_USER=MYAPS
# # 数据库密码
# MYAPS_DB_PASSWORD=MYAPS2025
# # 允许 api 操作的账套数据库名称，用半角逗号分隔
# MYAPS_DB_SET=hacy_p,demo16
# # 主账套，其中的 binlog 事件将会触发向外部系统（如ERP）的数据推送，主账套有且仅能有一个
# MYAPS_MAIN_DB=hacy_p

# Redis 配置
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=


########################################################################
# 运维配置
########################################################################

# OPS_ADMIN_USER=your_username
# OPS_ADMIN_PASSWORD=your_password
# OPS_JWT_SECRET=your_jwt_secret_key